<html>
    <head>
        <title>Snake</title>
        <link rel="stylesheet" type="text/css" href="css/global.css">
        <link rel="stylesheet" type="text/css" href="css/game.css">
        <link rel="stylesheet" type="text/css" href="css/settings.css">
    </head>
    <body>
        <a id="top"></a>
        <div id="cover">
            <div class="navigation">
                <div id="gestureShownHere"></div>
                <label class="nav-label">You are <input id="player-name" readonly="readonly" maxlength="10"></input></label>
                <div class="nav-button-bar">
                    <a href="#top" id="ligarcam" onClick="JSHGToggle($(this))" title="Ligar e desligar gestos">ON/OFF GEST</a>
                    <a href="#top" id="play-or-watch-button" title="Spectate or rejoin game">Watch</a>
                    <a href="#playerSettings" title="Go to settings">Settings</a>
                    <button id="full-screen-button" title="Go into full-screen mode"/>
                </div>    
            </div>
            <div id="kill-messages">
            </div>
            <div class="body-content">
                <div class="main-container">
                    <div class="left-content">
                        <div id="game-board"></div>
                    </div>
                    <div class="right-content">
                        <div id="player-stats">
                        </div>
                        <div id="notifications">
                        </div>
                    </div>
                </div>
                <div id="playerSettings" class="settings-menu">
                    <fieldset>
                        <legend>Player Settings</legend>
                        <label id="invalid-player-name-label">Please Enter a Valid Name (10 Characters Max)</label>
                        <ul class="text-button-list">
                            <li><input id="volumeSlider" type="range" min="0" max="1" step="0.2" value="1"></input><img src="assets/volume-icon.png" class="volume-icon"></img></li>
                            <li><button id="toggleSoundButton" class="options-text-button" title="Mute or unmute sound">Mute</button></li>
                        </ul>
                        <ul class="text-button-list">
                            <li><button id="changePlayerNameButton" class="options-text-button" title="Change your name">Change Name</button></li>
                            <li><button id="changePlayerColorButton" class="options-text-button" title="Change your snake's color">Change Color</button></li>
                            <li><button id="toggleGridLinesButton" class="options-text-button" title="Show or hide grid lines">Toggle GridLines</button></li>
                            <!--
                            <li><label for="image-upload" class="image-upload-label" title="Customize your snake by uploading an image (Will be scaled down to size)">Change Snake Image<input type="file" id="image-upload" accept="image/*"/></label></li>
                            <li><button id="clearUploadedImageButton" class="options-text-button" title="Clear uploaded snake image">Clear Image</button></li>
                            <li><label for="background-image-upload" class="image-upload-label" title="Upload a background image">Change Background Image<input type="file" id="background-image-upload" accept="image/*"/></label></li>
                            <li><button id="clearUploadedBackgroundImageButton" class="options-text-button"  title="Clear uploaded background image">Clear Image</button></li>
                            -->
                        </ul>
                    </fieldset>
                </div>
                
                
                <div id="adminControls" class="settings-menu">
                    <fieldset>
                        <legend>Admin Controls</legend>
                        <div class="options-controls" class="settings-menu">
                            <label class="options-label">Speed: </label>
                            <label id="currentSpeed" class="options-value"></label>
                            <button id="decreaseSpeedButton" class="minus-button" title="-1"/>
                            <button id="increaseSpeedButton" class="plus-button" title="+1"/>
                            <button id="resetSpeedButton" class="reset-button" title="Reset to Default"/>
                        </div>
                        <!--
                        <div class="options-controls" class="settings-menu">
                            <label class="options-label">Food: </label>
                            <label id="currentFoodAmount" class="options-value"></label>
                            <button id="decreaseFoodButton" class="minus-button" title="-1"/>
                            <button id="increaseFoodButton" class="plus-button" title="+1"/>
                            <button id="resetFoodButton" class="reset-button" title="Reset to Default"/>
                        </div>
                         -->
                        <div class="options-controls">
                            <label class="options-label">Bots: </label>
                            <label id="currentNumberOfBots" class="options-value"></label>
                            <button id="decreaseBotsButton" class="minus-button" title="-1"/>
                            <button id="increaseBotsButton" class="plus-button" title="+1"/>
                            <button id="resetBotsButton" class="reset-button" title="Reset to Default"/>
                        </div>
                        <!--
                        <div class="options-controls">
                            <label class="options-label">Start Length: </label>
                            <label id="currentStartLength" class="options-value"></label>
                            <button id="decreaseStartLengthButton" class="minus-button" title="-1"/>
                            <button id="increaseStartLengthButton" class="plus-button" title="+1"/>
                            <button id="resetStartLengthButton" class="reset-button" title="Reset to Default"/>
                        </div>
                        -->
                    </fieldset>
                </div> 
            </div>            
        </div>
        
        <script type="text/javascript" src="js/jshg/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="js/jshg/ParallelJS-CV.min.js"></script>
        <script type="text/javascript" src="js/jshg/compatibility.js"></script>
        <script type="text/javascript" src="js/jshg/helper.js"></script>
        <script type="text/javascript" src="js/jshg/jshg.js"></script>

        <script src="js/jspm_packages/system.js"></script>
        <script src="js/config.js"></script>
        <script>
            System.import('main.js');
        </script>
        <script>
            
            function JSHGToggle(botao){

                if (JSHG.isRunning()) {
                  JSHG.stop();
                  document.getElementById("gestureShownHere").innerHTML=""; 
                }else{
                  JSHG.learnSkinColor();  
                }

            }
            var currentGesture = null;

            var actionReporter = function(gesture) {

                if (currentGesture != null && currentGesture.isSameRelativePos(gesture)){ return;
                }
                
                var e = new Event("keydown");
                
                e.altKey=false;
                e.ctrlKey=false;
                e.shiftKey=false;
                e.metaKey=false;
                e.bubbles=true;
                
                if (gesture.isLeft) {
                    
                    e.key="d";    // just enter the char you want to send 
                    e.keyCode=68;
                    e.which=e.keyCode;

                    console.log("direita");

                } else if (gesture.isRight) {

                    e.key="a";    // just enter the char you want to send 
                    e.keyCode=65;
                    e.which=e.keyCode;
                    
                    console.log("esquerda");

                }else if (gesture.isUp){

                    e.key="w";    // just enter the char you want to send 
                    e.keyCode=87;
                    e.which=e.keyCode;

                    console.log("cima");
                }else if(gesture.isDown){
                    
                    e.key="s";    // just enter the char you want to send 
                    e.keyCode=83;
                    e.which=e.keyCode;

                    console.log("abaixo");
                }

                currentGesture = gesture;

                document.dispatchEvent(e);

            }
                
            JSHG.init({
                "actionCallback": actionReporter, 
                "gestureDivId": "gestureShownHere",
                "settings": {
                    "gestureDisplayWidth": 100,
                    "gestureDisplayHeight": 80,
                    "centralAreaRatio": 1/3,
                    "learningCountDown": 5,
                    "debugMode": false
                }
            });
            
        </script>

    </body>
</html>